{% extends 'lunchnavbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block body%}
<div>
    <h2 style="color: #85586F">This is Lunch Homepage </h2>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'images/5.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">DIET</h5>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'images/6.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FULL MEALS</h5>
      </div>
    </div>
  </div>
{% endblock %}
</body>

</html>